<!DOCTYPE html>
<html>
  <head>
    <title>Lab_1 Web</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />
  </head>

  <body>
    <div class="info">
      <h1>Welcome to the Lab!</h1>
      <hr />
      <p>Current Location: <span id="location"></span></p>
      <a href="/profile">Log In</a>
    </div>
    <div id="map"></div>

    <script src="/scripts/basicMap.js"></script>
  </body>
</html>
