<!DOCTYPE html>
<html>
  <head>
    <title>Lab_1 Web</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="/styles/home.css" type="text/css" />
  </head>

  <body>
    <p>Welcome, <%= user.nickname %></p>
    <p>Your last login was at : <%= user.updated_at %></p>
    <hr />
    <button id="last-logins">Show Last 5 Logins</button>
    <a href="/logout">
      <button>Log Out</button>
    </a>
    <p>Current Location: <span id="location"></span></p>
    <div class="main">
      <div id="map"></div>
      <div class=users-container>
        <div id="last-five-users">
          
        </div>
      </div>
    </div>

    <script
      src="/scripts/map.js"
      data-user="<%=JSON.stringify(user)%>"
    ></script>
  </body>
</html>
