#map{
    width:600px;
    height:600px;
}
.main{
    margin-left: 5%;
    display:flex;
}

#last-five-users{
    display:flex;
    flex-direction:column;
    background-color: lightblue;
    padding:0.5em;
    padding-left:1em;
    padding-right:1em;
    border:blue 2px;
    margin-left:2em;
}
#last-five-users p {
    margin-top:0.2em;
    margin-bottom:0.2em;
}
